.png1{
    
    width: 13%;
    height: 13%;
    position: relative;
    border-radius:50%;
    overflow-x: auto;
    display: inline-block;

  margin-left: auto;
  margin-right: auto;
  filter:drop-shadow(16px 7px 8px #80ee8f);
  animation-fill-mode: forwards;

  display: inline-block;
 


    
}
.animate-pulse{
       
        color: #0f0f0f;
        flood-color: #1363DF;
       
    }
    .btn a:hover {
        color: #1363DF;
    }
    :is(ul ol) animate-pulse{
        color: red;
    }
    .animate-bounce{
        color: #0f5518;
    }
    .box{
        tab-size: 5cap;
    }
       



  .bo {
    
    color: #0f5518;
    animation-name: example;
    animation-duration: 4s;
    font-size: large;
  }
  .animate:front{
    display: inline;
  }