.goat{
   
    width: 30%;
    height: 50%;
    border-radius: 50%;
    text-align: center;

    

}
.ko{
    height: 50%;
    width:90%;
}
.bar{
    height: 61%;
    width: 25%;
}
.navbar{
    height: 35%;
    width: 35%;
}
.head{
    position: absolute;
}
.map{
    width: 20%;
    height: 20%;
    border-radius: 80%;
    letter-spacing: 0cap;
}
.mp{
    width: 5%;
    height: 5%;
   
}
.pm{
nav-right: auto;
}
.uuo
{
    text-size-adjust: 10%;
}

.swag{
height: 0%;
    width: 50%;
   text-align: center;
  
}
.right{  
    text-align: center;
    }
    .god{
        text-align: center;
    }

