@media screen and (max-width: 700px) {	
    .ko{
        height: 50%;
        width:50%;
    }
    .box{
        height: 80%;
        width: 80%;
    }
    .mobile{
        height: 60%;
        width: 90%;
    }
    .mobilel{
        height: 100%;
        width: 80%;
    }
    
   
  }
  .bar{
    height: 45%;
    width: 35%;
}

.goat{
   
    width: 30%;
    height: 50%;
    border-radius: 50%;
    text-align: center;

    

}


.navbar{
    height: 35%;
    width: 35%;
}
.head{
    position: absolute;
}
.map{
    width: 20%;
    height: 20%;
    border-radius: 80%;
    letter-spacing: 0cap;
}
.mp{
    width: 5%;
    height: 5%;
   
}
.pm{
nav-right: auto;
}
.uuo
{
    text-size-adjust: 10%;
}

.swag{
height: 10%;
    width: 800%;
   text-align: center;
  
}
.right{  
    text-align: center;
    }
    .god{
        text-align: center;
    }
.box{
    height: 65%;
    width: 65%;
}
